<div class="row feature-box">
  <div class="span12 cnt-title">
    <h1>A place to create, collaborate, and share markdown wiki's</h1>
    <span>Give us shot, we promise you will never go back</span>
  </div>


  <div class="span4">
    <%= image_tag "icon3.png" %>
    <h2>Markdown format</h2>
    <p>
      Our application allows users to create beautiful wiki's that utilize markdown formatting syntax.
    </p>
  </div>

  <div class="span4">
    <%= image_tag "icon2.png" %>
    <h2>Public or Private</h2>
    <p>
      As a user you have the ability to create public or private wiki's.
    </p>
  </div>

  <div class="span4">
    <%= image_tag "icon-service1.png" %>
    <h2>Premium/Standard</h2>
    <p>
      There are two different account options: an unpaid and paid subscription.
    </p>
  </div>
</div>

<!-- /.Feature -->

<div class="hr-divider"></div>

<!-- Row View -->

<div class="row margin-bottom-100">
  <div class="span6">
    <%= image_tag "responsive.png" %>
  </div>
  <div class="span6">
      <%= image_tag( "icon4.png", class: "hidden-phone") %>
      <h1>Get connected</h1>
      <p>Our app can connect ideas between users all over the world. Start your journey of creating
      beautiful markdown wiki's and sharing with your friends and colleagues today!</p>
  </div>
</div>






